<% messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="d-flex justify-content-end">
      <div class="rounded-pill text-bg-dark px-3 py-3">
        <%= message.content %>
      </div>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="d-flex justify-content-start">
      <div class="assistant-chat-bubble px-4 py-3 my-4">
        <%= message.content %>
      </div>
    </div>
  <% end %>
<% end %>
