<% messages.each do |message| %>
  <% if message.role == "user" %>
    <div class="d-flex justify-content-end" data-controller="auto-scroll" >
      <div class="user-chat-bubble">
        <%= message.content %>
      </div>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="d-flex justify-content-start">
      <div class="assistant-chat-bubble my-4">
        <%= message.content %>
      </div>
    </div>
  <% end %>
<% end %>
