 .footer {
  background: #dfd9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(37, 15, 15, 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.move-block-right {
  /* 1. Set the element's width */
  width: 550px;
  /* 2. Push the element to the right by maximizing the left margin */
  margin-left: auto;
}
