

/* Make the body take full height and use flexbox */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Content grows to fill space */
.content {
  flex: 1;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer i {
  margin-right: 5px;
}

.circle-container {
  display: flex;
  justify-content: left;  /* centers them */
  gap: 20px;                /* space between images */
  margin-top: 20px;
}

.circle-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
