// Import page-specific CSS files here.
@import "home";


.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}
