<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer Example</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content">
    <!-- Your main content goes here -->
    <h1>Welcome to the page</h1>
    <p>Some text here... lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal lalalalalalalalalalalalala
      lalalalalalalalalalalalala
      lalalallalalalalalalalalalla
      lalalalalalalalalalalalalal
      alalallaalalalallalal
      lalalallalalalalalalalalalla
      laalalalalalalalalalalalalallal


      alalalallalalalallalal

    </p>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
       <i class="fas fa-heart"></i>
    </div>
  </div>
</body>
</html>
