<div>
  <div class="container">
    <br>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="fw-bold fs-1 my-4" >Choose who you want to chat with!</h2>
      <button class="btn btn-dark btn-lg my-4 site-button fw-medium" data-controller="new-persona-alert" data-action="click->new-persona-alert#openPrompt">+ Add a New Persona!</button>
    </div>
  </div>
</div>

<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yay!</strong> 🎉 you successfully signed in to our service.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<div class="container mt-5">
  <div class="row">
    <% @personas.each do |persona| %>
      <div class="col-md-4">
        <div class="card my-3 p-3" style="height: 350px; background-color: white; border: black solid 1px;">
          <% if persona.photo.attached? %>
            <%= cl_image_tag persona.photo.key, alt: persona.name, style: "max-height: 200px; width: 100%; object-fit: contain;" %>
          <% else %>
            <%= image_tag 'https://media.istockphoto.com/id/2171382633/vector/user-profile-icon-anonymous-person-symbol-blank-avatar-graphic-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZwOF6NfOR0zhYC44xOX06ryIPAUhDvAajrPsaZ6v1-w=', alt: persona.name, style: "max-height: 200px; width: 100%; object-fit: contain;" %>
          <% end %>
          <div class="card-body text-center">
            <h3 class="card-title text-center fw-semibold"><%= persona.name %></h3>
            <%= link_to 'Choose', persona_path(persona), class: 'btn btn-dark mt-3 site-button' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
