<div class="container border">
  <h2 class="text-center">Insert greetings from persona</h2>
  <%= image_tag "https://assets.vogue.com/photos/5f6d05918c75f02cb3917f28/16:9/w_1920%2Cc_limit/fp111_107a_her_majesty_queen_elizabeth_xl_02618_2008131904_id_1316166.jpg",
  size: "320x320",
  class: "rounded-circle object-fit-cover d-block mx-auto" %>
</div>
