.navbar-lewagon {
  justify-content: space-between;
  background: rgb(13, 6, 6);
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: white;
  border-radius: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.logo-img {
  /* Set the height and let the browser calculate the width */
  height: 500px;
  width: auto;
  /* You can adjust '40px' to whatever height looks best in your navbar. */
}

.bold-text {
  font-weight: bold;
}
body {
  padding-top: 70px; /* adjust to your navbar height */
}
.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.avatar:hover {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}
